name: Build_SignalR_Docker_Image

on:
  push:
    branches: [ ]
  pull_request:
    branches: [ ]

  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['5.0.x' ]
    steps:
      - name: Prepare Environment
        run: sudo bash -c "echo '127.0.0.1      mongoserver' >> /etc/hosts"
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Publish
        run: |
        cd src/SugarChat.SignalR.Server
        dotnet publish "SugarChat.SignalR.Server.csproj" -c Release -o ./publish
        docker build -t sugarchat-signalr-server .
